# Ignore build artifacts from the local tests sub-crate.
/target/
/core/target/
/model/target/
/lang/target/
/primitives/target/
/examples/**/target/
/design/

# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Remove Cargo.lock when creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
Cargo.lock

# Ignore history files.
**/.history/**
contracts/Collection_Management/Collection_Management.contract
contracts/Collection_Management/Collection_Management.wasm
contracts/ERC721/erc721.wasm
contracts/ERC721/erc721.contract
contracts/Profile_Management/Profile_Management.wasm
contracts/Profile_Management/Profile_Management.contract
contracts/OpenBrush-ERC721-PSP34/artzero_nft.contract
contracts/OpenBrush-ERC721-PSP34/artzero_nft.wasm
contracts/OpenBrush-Profile-Manager/artzero_profile_manager.contract
contracts/OpenBrush-Profile-Manager/artzero_profile_manager.wasm
contracts/OpenBrush-Collection-Manager/artzero_collection_manager.contract
contracts/OpenBrush-Collection-Manager/artzero_collection_manager.wasm
